</div>
<!--  horizontal break -->
<hr>
<script src="js/game.js"></script>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Posted by : Hari Priya Jupally</p>
        <p>Link to my LinkedIn Profile:<a href="https://www.linkedin.com/in/hari-priya-rao-jupally-58501a11b/"><img width="70" height="30" src="images/linkedin.png" alt="Linked In"></a></p>
        <p>Contact Information :<a href="S533990@nwmissouri.edu">S533990@nwmissouri.edu</a></p>
        <p><strong>Note :</strong> Do mail for any queries </p>
      </div>
    </div>
  </div>
</footer>
</div>

</body></html>

