<% include header %>

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name = "viewport" content="width=device-width, initial-scale=1">
  <title>About Me</title>
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    
  <header>
    <h2>HARI PRIYA JUPALLY </h2>
  </header>
  <main>
    <article>
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h2>Personal Information </h2>
            <section>
              <h4 id="past-section"> <u> ABOUT ME : </u> </h4>
              <p>I am an Indian and I have recently finished my under graduation from Mallareddy Engineering College from Computer Science Department.</p>
            </section>
            <section>
              <h4 id="future-section"> <u> IN FUTURE : </u> </h4>
              <p>In the next 2-3 years I see myself as a software developer and in the upcoming years I wish to
                establish a
                software company of my own.</p>
            </section>
            <section>
              <h4> <u> COURSE OUTCOME : </u> </h4>
              <p>From this course I hope to learn how to design web pages and applications.</p>
            </section>
            <section>
              <h4 class="section-header"> <u> SCHEDULE : </u> </h4>
              <ul>
                <li> Object-Oriented Programming : Section 05 : TR Days : 02:00 pm - 03:15 pm : Ajay Bandi </li>
                <li> Web Applications : Section 06 : MW Days : 11:00 am - 11:50 am : Denise Case </li>
                <li> Advanced Database : Section 03 : MWF Days : 01:00 pm - 01:50 pm : Douglas Hawley </li>
              </ul>
            </section>
          </div>
          <div class="col-sm-4">
            <aside class="aside-header">Bearcats</aside>
            <img class="rounded-circle" width="230" height="150" src="Mypic.png"
              alt="Smiley face">
            <iframe src="https://www.youtube.com/embed/iVXBJsNU7BQ" width = "360" height = "215" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </article>
  </main>
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>

    <% include footer %>
