<% include header %>

<body background-image = "images/pexel.jpg">
  
  <header class="Header">Area Of a Triangle</header>
  <div class="container">


      <form name="f1">
          <div class="row">
        <div class="col-sm-8">Enter Side1: <input id="side1">
        </div>
        </div>
        <div class="row">
          <div class="col-sm-8">Enter Side2: <input id="side2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">Enter Side3: <input id="side3">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <input type="button" value="submit" onclick="show()">
            <input type ="text" id="result"/>
          
          </div>
        </div>
      </form>
    </div>
    

  <% include footer %>